<main>
  <section class="grid desktop:grid-cols-4 laptop:grid-cols-3 tablet:grid-cols-2 sm:grid-cols-1">
    <div class="m-6 w-60 h-64 border rounded-md box-border">
      <a [routerLink]="['/dpf']" class="flex flex-col justify-center items-center w-auto h-auto py-2">
        <img src="assets/dpf.webp" alt="dice" class="w-11/12 aspect-square border">
        a: Deposito a plazo fijo
      </a>
    </div>
    <div class="m-6 w-60 h-64 border rounded-md box-border">
      <a [routerLink]="['/minimize']" class="flex flex-col justify-center items-center w-auto h-auto py-2">
        <img src="assets/minimize.webp" alt="dice" class="w-11/12 aspect-square border">
        c: Maximizar Función
      </a>
    </div>
    <div class="m-6 w-60 h-64 border rounded-md box-border">
      <a [routerLink]="['/dice']" class="flex flex-col justify-center items-center w-auto h-auto py-2">
        <img src="assets/dice.webp" alt="dice" class="w-11/12 aspect-square border">
        d: Juego de los dados
      </a>
    </div>
    <div class="m-6 w-60 h-64 border rounded-md box-border">
      <a [routerLink]="['/article']" class="flex flex-col justify-center items-center w-auto h-auto py-2">
        <img src="assets/articles.webp" alt="dice" class="w-11/12 aspect-square border" >
        e: Venta de Artículos
      </a>
    </div>
    <div class="m-6 w-60 h-64 border rounded-md box-border">
      <a [routerLink]="['/eggs']" class="flex flex-col justify-center items-center w-auto h-auto py-2">
        <img src="assets/chicken.webp" alt="imagen de un pollito estilo anime" class="w-11/12 aspect-square border">
        f: Problema de los pollos
      </a>
    </div>
    <div class="m-6 w-60 h-64 border rounded-md box-border">
      <a [routerLink]="['/sugar']" class="flex flex-col justify-center items-center w-auto h-auto py-2">
        <img src="assets/sugar.webp" alt="dice" class="w-11/12 aspect-square border">
        g: Venta de Azúcar
      </a>
    </div>
    <div class="m-6 w-60 h-64 border rounded-md box-border">
      <a [routerLink]="['/coin']" class="flex flex-col justify-center items-center w-auto h-auto py-2">
        <img src="assets/coin.webp" alt="dice" class="w-11/12 aspect-square border">
        Juego de los monedas
      </a>
    </div>
    
    
    
    
    

  </section>
</main>

<!--


{
  path: 'article', component: ArticleComponent
}
,
{
  path: 'eggs', component: EggsComponent
}
, -->