<div class="container">
    <form [formGroup]="sugarForm" (submit)="onSubmit()" 
    class="flex flex-col border-r-2  desktop:w-128 laptop:w-128 my-5 justify-center align-middle p-10 shadow-md border rounded-md
        border-gray-500">
        <label for="sims">Número de simulaciones</label>
        <input formControlName="simulations" type="number"
            class="border rounded border-blue-600 focus:border-sky-400 focus:outline-none px-2 py-1" id="sims">

        <label for="nmd">Número de días</label>
        <input formControlName="nmd" type="number"
            class="border rounded border-blue-600 focus:border-sky-400 focus:outline-none px-2 py-1" id="nmd">

        <label for="pvuh">Precio de venta unitario huevos</label>
        <input formControlName="pvuh" type="number"
            class="border rounded border-blue-600 focus:border-sky-400 focus:outline-none px-2 py-1" id="pvuh">


        <label for="pvup">Precio de venta unitario pollo</label>
        <input formControlName="pvup" type="number"
            class="border rounded border-blue-600 focus:border-sky-400 focus:outline-none px-2 py-1" id="crepvup">



        <button class="px-2 py-1 my-2 bordered rounded-sm border-blue-400 bg-blue-700 text-white">Calcular</button>
    </form>

    <section id="res" *ngIf="calculated"
        class="box-border flex flex-col align-middle items-center border border-black rounded-md shadow-md desktop:w-128 laptop:w-128 h-128 px-2 overflow-auto">
        <span> Gneta: {{means.gneta.toFixed(2)}}, NHue {{means.nhue.toFixed(2)}}, NHUER {{means.nhuer.toFixed(2)}},
            NPM {{means.npm.toFixed(2)}} , NPV {{means.npv.toFixed(2)}}</span>
        <div class="flex flex-col items-center ">
            <table class="table my-3  ">
                <thead class="bg-blue-600  text-white">
                    <th class="py-1 px-4 first:border-l first:rounded-tl-lg border-gray "> Nro </th>
                    <th class="py-1 px-4 first:border-l last:rounded-tr-lg border-gray"> Gneta</th>
                    <th class="py-1 px-4 first:border-l last:rounded-tr-lg border-gray"> NHue</th>
                    <th class="py-1 px-4 first:border-l last:rounded-tr-lg border-gray"> NHuer</th>
                    <th class="py-1 px-4 first:border-l last:rounded-tr-lg border-gray"> NPM</th>
                    <th class="py-1 px-4 first:border-l last:rounded-tr-lg border-gray"> NPV</th>
                </thead>
                <tbody>
                    <tr *ngFor="let res of results; index as i">
                        <td class="text-center border first:border-r-0">{{i + 1}}</td>
                        <td class="text-center border first:border-r-0">{{res.gneta}}</td>
                        <td class="text-center border first:border-r-0">{{res.nhue }}</td>
                        <td class="text-center border first:border-r-0">{{res.nhuer}}</td>
                        <td class="text-center border first:border-r-0">{{res.npm}}</td>
                        <td class="text-center border first:border-r-0">{{res.npv}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>